extends layout

block content

    div(class="jumbotron")
        h1(class="display-4 text-center") There once were. Words.
        p(class="lead")
            div(class="row")
                div(class="col-sm-12 col-md-9 input-group p-3 mx-auto")
                    input(type="text", class="form-control form-control-lg", placeholder="Enter a word")
                    div(class="input-group-append")
                        a(class="btn btn-primary btn-lg", href="#", role="button") Search
        p(class="lead") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
