extends layout

block content

    div(class="jumbotron")
        h1(class="display-4 text-center") An Ordinary Dictionary. Made simple.
        p(class="lead")
            div(class="row")
                div(class="col-sm-12 col-md-9 input-group p-3 mx-auto")
                    input(type="text", class="form-control form-control-lg", placeholder="Enter a word")
                    div(class="input-group-append")
                        a(class="btn btn-primary btn-lg", href="#", role="button") Search
        p(class="lead text-center") Try the search bar to search through all #[strong !{data.word_count} words] in this dictionary!
